<?xml version="1.0"?>
<config version="9.0.0" urldb="paloaltonetworks">
  <mgt-config>
    <users>
      <entry name="admin">
        <phash>*</phash>
        <permissions>
          <role-based>
            <superuser>yes</superuser>
          </role-based>
        </permissions>
      </entry>
      <entry name="{{ admin_username }}">
        <phash>$1$eefmkaub$.V1VZBQHdD8juWBL.yypz0</phash>
        <permissions>
          <role-based>
            <superuser>yes</superuser>
          </role-based>
        </permissions>
      </entry>
    </users>
  </mgt-config>
  <shared>
    <application/>
    <application-group/>
    <service/>
    <service-group/>
    <botnet>
      <configuration>
        <http>
          <dynamic-dns>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </dynamic-dns>
          <malware-sites>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </malware-sites>
          <recent-domains>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </recent-domains>
          <ip-domains>
            <enabled>yes</enabled>
            <threshold>10</threshold>
          </ip-domains>
          <executables-from-unknown-sites>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </executables-from-unknown-sites>
        </http>
        <other-applications>
          <irc>yes</irc>
        </other-applications>
        <unknown-applications>
          <unknown-tcp>
            <destinations-per-hour>10</destinations-per-hour>
            <sessions-per-hour>10</sessions-per-hour>
            <session-length>
              <maximum-bytes>100</maximum-bytes>
              <minimum-bytes>50</minimum-bytes>
            </session-length>
          </unknown-tcp>
          <unknown-udp>
            <destinations-per-hour>10</destinations-per-hour>
            <sessions-per-hour>10</sessions-per-hour>
            <session-length>
              <maximum-bytes>100</maximum-bytes>
              <minimum-bytes>50</minimum-bytes>
            </session-length>
          </unknown-udp>
        </unknown-applications>
      </configuration>
      <report>
        <topn>100</topn>
        <scheduled>yes</scheduled>
      </report>
    </botnet>
    <content-preview>
      <application/>
      <application-type>
        <category/>
        <technology/>
      </application-type>
    </content-preview>
    <log-settings>
      <syslog>
        <entry name="Azure">
          <server>
            <entry name="azure">
              <transport>UDP</transport>
              <port>514</port>
              <format>BSD</format>
              <server>10.11.8.68</server>
              <facility>LOG_USER</facility>
            </entry>
          </server>
          <format>
            <config>CEF:0|Palo Alto Networks|PAN-OS|$sender_sw_version|$result|$type|1|rt=$cef-formatted-receive_time
deviceExternalId=$serial shost=$host cs3Label=Virtual System cs3=$vsys act=$cmd duser=$admin
destinationServiceName=$client msg=$path externalId=$seqno PanOSDGl1=$dg_hier_level_1
PanOSDGl2=$dg_hier_level_2 PanOSDGl3=$dg_hier_level_3 PanOSDGl4=$dg_hier_level_4
PanOSVsysName=$vsys_name dvchost=$device_name PanOSActionFlags=$actionflags
 cs1Label=Before Change Detail cs1=$before-change-detail cs2Label=After Change Detail
cs2=$after-change-detail</config>
            <system>CEF:0|Palo Alto
Networks|PAN-OS|$sender_sw_version|$subtype|$type|$number-of-severity|rt=$cef-formatted-receive_time
deviceExternalId=$serial cs3Label=Virtual System cs3=$vsys fname=$object flexString2Label=Module
flexString2=$module msg=$opaque externalId=$seqno cat=$eventid PanOSDGl1=$dg_hier_level_1
PanOSDGl2=$dg_hier_level_2 PanOSDGl3=$dg_hier_level_3 PanOSDGl4=$dg_hier_level_4
PanOSVsysName=$vsys_name dvchost=$device_name PanOSActionFlags=$actionflags</system>
            <threat>CEF:0|Palo Alto Networks|PAN-OS|$sender_sw_version|$subtype|$type|1|rt=$cef-formatted-receive_time
deviceExternalId=$serial src=$src dst=$dst sourceTranslatedAddress=$natsrc
destinationTranslatedAddress=$natdst cs1Label=Rule cs1=$rule suser=$srcuser duser=$dstuser app=$app
cs3Label=Virtual System cs3=$vsys cs4Label=Source Zone cs4=$from cs5Label=Destination Zone cs5=$to
deviceInboundInterface=$inbound_if deviceOutboundInterface=$outbound_if cs6Label=LogProfile cs6=$logset
cn1Label=SessionID cn1=$sessionid cnt=$repeatcnt spt=$sport dpt=$dport sourceTranslatedPort=$natsport
destinationTranslatedPort=$natdport flexString1Label=Flags flexString1=$flags proto=$proto act=$action
flexNumber1Label=Total bytes flexNumber1=$bytes in=$bytes_sent out=$bytes_received cn2Label=Packets
cn2=$packets PanOSPacketsReceived=$pkts_received PanOSPacketsSent=$pkts_sent
start=$cef-formatted-time_generated cn3Label=Elapsed time in seconds cn3=$elapsed cs2Label=URL Category
cs2=$category externalId=$seqno reason=$session_end_reason PanOSDGl1=$dg_hier_level_1
PanOSDGl2=$dg_hier_level_2 PanOSDGl3=$dg_hier_level_3 PanOSDGl4=$dg_hier_level_4
PanOSVsysName=$vsys_name dvchost=$device_name cat=$action_source PanOSActionFlags=$actionflags
PanOSSrcUUID=$src_uuid PanOSDstUUID=$dst_uuid PanOSTunnelID=$tunnelid PanOSMonitorTag=$monitortag
PanOSParentSessionID=$parent_session_id PanOSParentStartTime=$parent_start_time
PanOSTunnelType=$tunnel PanOSSCTPAssocID=$assoc_id PanOSSCTPChunks=$chunks
PanOSSCTPChunkSent=$chunks_sent PanOSSCTPChunksRcv=$chunks_received PanOSRuleUUID=$rule_uuid
PanOSHTTP2Con=$http2_connection</threat>
            <traffic>CEF:0|Palo Alto Networks|PAN-OS|$sender_sw_version|$subtype|$type|1|rt=$cef-formatted-receive_time
deviceExternalId=$serial src=$src dst=$dst sourceTranslatedAddress=$natsrc
destinationTranslatedAddress=$natdst cs1Label=Rule cs1=$rule suser=$srcuser duser=$dstuser app=$app
cs3Label=Virtual System cs3=$vsys cs4Label=Source Zone cs4=$from cs5Label=Destination Zone cs5=$to
deviceInboundInterface=$inbound_if deviceOutboundInterface=$outbound_if cs6Label=LogProfile cs6=$logset
cn1Label=SessionID cn1=$sessionid cnt=$repeatcnt spt=$sport dpt=$dport sourceTranslatedPort=$natsport
destinationTranslatedPort=$natdport flexString1Label=Flags flexString1=$flags proto=$proto act=$action
flexNumber1Label=Total bytes flexNumber1=$bytes in=$bytes_sent out=$bytes_received cn2Label=Packets
cn2=$packets PanOSPacketsReceived=$pkts_received PanOSPacketsSent=$pkts_sent
start=$cef-formatted-time_generated cn3Label=Elapsed time in seconds cn3=$elapsed cs2Label=URL Category
cs2=$category externalId=$seqno reason=$session_end_reason PanOSDGl1=$dg_hier_level_1
PanOSDGl2=$dg_hier_level_2 PanOSDGl3=$dg_hier_level_3 PanOSDGl4=$dg_hier_level_4
PanOSVsysName=$vsys_name dvchost=$device_name cat=$action_source PanOSActionFlags=$actionflags
PanOSSrcUUID=$src_uuid PanOSDstUUID=$dst_uuid PanOSTunnelID=$tunnelid PanOSMonitorTag=$monitortag
PanOSParentSessionID=$parent_session_id PanOSParentStartTime=$parent_start_time
PanOSTunnelType=$tunnel PanOSSCTPAssocID=$assoc_id PanOSSCTPChunks=$chunks
PanOSSCTPChunkSent=$chunks_sent PanOSSCTPChunksRcv=$chunks_received PanOSRuleUUID=$rule_uuid
PanOSHTTP2Con=$http2_connection
</traffic>
            <data>CEF:0|Palo Alto
Networks|PAN-OS|$sender_sw_version|$subtype|$type|$number-of-severity|rt=$cef-formatted-receive_time
deviceExternalId=$serial src=$src dst=$dst sourceTranslatedAddress=$natsrc
destinationTranslatedAddress=$natdst cs1Label=Rule cs1=$rule suser=$srcuser duser=$dstuser app=$app
cs3Label=Virtual System cs3=$vsys cs4Label=Source Zone cs4=$from cs5Label=Destination Zone cs5=$to
deviceInboundInterface=$inbound_if deviceOutboundInterface=$outbound_if cs6Label=LogProfile cs6=$logset
cn1Label=SessionID cn1=$sessionid cnt=$repeatcnt spt=$sport dpt=$dport sourceTranslatedPort=$natsport
destinationTranslatedPort=$natdport flexString1Label=Flags flexString1=$flags proto=$proto act=$action
request=$misc cs2Label=URL Category cs2=$category flexString2Label=Direction flexString2=$direction
PanOSActionFlags=$actionflags externalId=$seqno cat=$threatid fileId=$pcap_id PanOSDGl1=$dg_hier_level_1
PanOSDGl2=$dg_hier_level_2 PanOSDGl3=$dg_hier_level_3 PanOSDGl4=$dg_hier_level_4
PanOSVsysName=$vsys_name dvchost=$device_name PanOSSrcUUID=$src_uuid PanOSDstUUID=$dst_uuid
PanOSTunnelID=$tunnelid PanOSMonitorTag=$monitortag PanOSParentSessionID=$parent_session_id
PanOSParentStartTime=$parent_start_time PanOSTunnelType=$tunnel PanOSThreatCategory=$thr_category
PanOSContentVer=$contentver PanOSAssocID=$assoc_id PanOSPPID=$ppid PanOSHTTPHeader=$http_headers
PanOSRuleUUID=$rule_uuid</data>
          </format>
        </entry>
      </syslog>
      <http>
        <entry name="app_insights">
          <server>
            <entry name="function_app">
              <address>panoswebhook.azurewebsites.net</address>
              <http-method>POST</http-method>
              <protocol>HTTPS</protocol>
              <port>443</port>
            </entry>
          </server>
        </entry>
      </http>
      <system>
        <match-list>
          <entry name="system-logs-syslog">
            <send-syslog>
              <member>Azure</member>
            </send-syslog>
            <filter>All Logs</filter>
          </entry>
        </match-list>
      </system>
      <config>
        <match-list>
          <entry name="config-logs-syslog">
            <send-syslog>
              <member>Azure</member>
            </send-syslog>
            <filter>All Logs</filter>
          </entry>
        </match-list>
      </config>
    </log-settings>
    <admin-role>
      <entry name="monitor_readonly">
        <role>
          <device>
            <webui>
              <monitor>
                <logs>
                  <traffic>enable</traffic>
                  <threat>enable</threat>
                  <url>enable</url>
                  <wildfire>enable</wildfire>
                  <data-filtering>enable</data-filtering>
                  <hipmatch>enable</hipmatch>
                  <userid>enable</userid>
                  <tunnel>enable</tunnel>
                  <configuration>enable</configuration>
                  <system>enable</system>
                  <alarm>enable</alarm>
                  <authentication>enable</authentication>
                </logs>
              </monitor>
            </webui>
            <xmlapi/>
          </device>
        </role>
      </entry>
    </admin-role>
    <certificate> 
      <entry name="prod-cert">
        <subject-hash>f42f37f1</subject-hash>
        <issuer-hash>01017373</issuer-hash>
        <not-valid-before>Apr 20 00:00:00 2018 GMT</not-valid-before>
        <issuer>/C=GB/ST=Greater Manchester/L=Salford/O=COMODO CA Limited/CN=COMODO RSA Domain Validation Secure Server CA</issuer>
        <not-valid-after>Apr 19 23:59:59 2020 GMT</not-valid-after>
        <common-name>prod.platform.hmcts.net</common-name>
        <expiry-epoch>1587340799</expiry-epoch>
        <ca>no</ca>
        <subject>/OU=Domain Control Validated/OU=PositiveSSL Multi-Domain/CN=prod.platform.hmcts.net</subject>
        <public-key>-----BEGIN CERTIFICATE-----
MIIHQzCCBiugAwIBAgIRAINtoS3FTUN5mBy3NzKX+G4wDQYJKoZIhvcNAQELBQAw
gZAxCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
BgNVBAcTB1NhbGZvcmQxGjAYBgNVBAoTEUNPTU9ETyBDQSBMaW1pdGVkMTYwNAYD
VQQDEy1DT01PRE8gUlNBIERvbWFpbiBWYWxpZGF0aW9uIFNlY3VyZSBTZXJ2ZXIg
Q0EwHhcNMTgwNDIwMDAwMDAwWhcNMjAwNDE5MjM1OTU5WjBoMSEwHwYDVQQLExhE
b21haW4gQ29udHJvbCBWYWxpZGF0ZWQxITAfBgNVBAsTGFBvc2l0aXZlU1NMIE11
bHRpLURvbWFpbjEgMB4GA1UEAxMXcHJvZC5wbGF0Zm9ybS5obWN0cy5uZXQwggEi
MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDZQKEos5DQ+EkHfrEZPh3vkoIS
v1baMKKKWdR9cuSfPrqybhWquCW0PkagiYSDyXNZENwBfl5ZvbuIrOadLOt2hu7q
Npc5WJOv7dn6qhjGGmgET0zS6R2af48n/txfjeTdG18cmZdzXf7UrYinvaJRoMbQ
RE1SepGPkdcJk2U4x+fUoK01yU4jPnSoThvKXyoRpkBhtuQ5/FUMJ5sEkxXPa61x
lzMucweIK1RTTBVvs1iS5QVLCEyIW6VEt+3kAuO2UgCC4TB0q5QWsgEPcLxyzhbn
LgseY9CvcpsTWacPU/OeUtK46xwESorjUpJnShJvdxzn1EivJ9y59Xt/Spx/AgMB
AAGjggO9MIIDuTAfBgNVHSMEGDAWgBSQr2o6lFoL2JDqElZz30O0Oija5zAdBgNV
HQ4EFgQUkti8e7xW+rZqJZbHm3E6M4y61dAwDgYDVR0PAQH/BAQDAgWgMAwGA1Ud
EwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCME8GA1UdIARI
MEYwOgYLKwYBBAGyMQECAgcwKzApBggrBgEFBQcCARYdaHR0cHM6Ly9zZWN1cmUu
Y29tb2RvLmNvbS9DUFMwCAYGZ4EMAQIBMFQGA1UdHwRNMEswSaBHoEWGQ2h0dHA6
Ly9jcmwuY29tb2RvY2EuY29tL0NPTU9ET1JTQURvbWFpblZhbGlkYXRpb25TZWN1
cmVTZXJ2ZXJDQS5jcmwwgYUGCCsGAQUFBwEBBHkwdzBPBggrBgEFBQcwAoZDaHR0
cDovL2NydC5jb21vZG9jYS5jb20vQ09NT0RPUlNBRG9tYWluVmFsaWRhdGlvblNl
Y3VyZVNlcnZlckNBLmNydDAkBggrBgEFBQcwAYYYaHR0cDovL29jc3AuY29tb2Rv
Y2EuY29tMIGIBgNVHREEgYAwfoIXcHJvZC5wbGF0Zm9ybS5obWN0cy5uZXSCGSou
cHJvZC5wbGF0Zm9ybS5obWN0cy5uZXSCJSouc2NtLnNlcnZpY2UucHJvZC5wbGF0
Zm9ybS5obWN0cy5uZXSCISouc2VydmljZS5wcm9kLnBsYXRmb3JtLmhtY3RzLm5l
dDCCAX4GCisGAQQB1nkCBAIEggFuBIIBagFoAHYA7ku9t3XOYLrhQmkfq+GeZqMP
fl+wctiDAMR7iXqo/csAAAFi4qva9wAABAMARzBFAiEA5bjduelNUr/Heu4RQlfn
4RtZZKjMVudRAfF3r1aPBIoCIHdmMumxhaN5RWFWNnB+uKeIL+x2/ZKMqI8zc3oz
nckzAHcAXqdz+d9WwOe1Nkh90EngMnqRmgyEoRIShBh1loFxRVgAAAFi4qvTTwAA
BAMASDBGAiEA+Nqh8PHYQ4WvQHcMyi8sxlEcq3ItKlHLwzpiMjwGgpUCIQCE8olu
aW30e5igEC1C+y8QHvC5jysEW8bzHXk8HtWqcgB1AFWB1MIWkDYBSuoLm1c8U/DA
5Dh4cCUIFy+jqh0HE9MMAAABYuKr7O8AAAQDAEYwRAIgL9MCN7sjIhbOviccySEs
MsCz041X+6OotJ6Pd32csdACIELN5yX04JhK3fPOrdOyt7YHJ8ap+XpyGHFNPEm0
n0k6MA0GCSqGSIb3DQEBCwUAA4IBAQAZxAJ+HS2YFdWrxGhQmqDe6E+PH3rTeWlh
1iEeQVa187d9zb11x4WwkOfTI6yiOUAWblsCJdnJ2MJ0InvxVJ6QCzNjmrrvI2Hg
OWd30NdXYGp07v7GDTkaqfjUfH5rm0v2vxXZwpV+tA2X6Fk6eGMzKrNr8AgV9Q/i
Srh00/GyomMmftHEkOJ2Prkkb7ZMrhhQRFCZoht0ThHvkkgpw1po+arEITeNdAgp
423/2dxizpVGAErrpT1XTv7fbfvLYe+zhvJSQl/17j7FHx0IVUDzRzBdKoAVzIIv
JN5mD89XjzlQrqwGSGXszK9qdLXx9WHpGYLBmB6UfS+kdpyrRzxY
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIHKTCCBhGgAwIBAgIRAI761ADpEUiT01cpVDgHZIkwDQYJKoZIhvcNAQELBQAw
gZAxCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
BgNVBAcTB1NhbGZvcmQxGjAYBgNVBAoTEUNPTU9ETyBDQSBMaW1pdGVkMTYwNAYD
VQQDEy1DT01PRE8gUlNBIERvbWFpbiBWYWxpZGF0aW9uIFNlY3VyZSBTZXJ2ZXIg
Q0EwHhcNMTgwMzE1MDAwMDAwWhcNMjAwMzE0MjM1OTU5WjBsMSEwHwYDVQQLExhE
b21haW4gQ29udHJvbCBWYWxpZGF0ZWQxITAfBgNVBAsTGFBvc2l0aXZlU1NMIE11
bHRpLURvbWFpbjEkMCIGA1UEAxMbY2NkLmRlbW8ucGxhdGZvcm0uaG1jdHMubmV0
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmZBkM36N1HEhs4VXCCUj
27cbm0GnXj54elZsBqUZiHtOuKNyotdBKgh9jqa0j8GlBoILngzxXzIXJigNE2vS
ogvLfV6llt6fX1wslT+7e1uSnQhhPWxMQlL5VpqFEWkfJRVkoGxgPb42KCj2/VWm
/ZcvNcAvqrqsjg5aUaOjfqiYC0n/9PZbavxUYmn5oUktT918NL+aiqbN4Yx52Nhp
pTmyhJ4aix+GEQ1zFxuWkQUkZOiaGeZqfs+35C+S8Pd/oH+4LNcgxoBObA+jltVN
q6WV6uhqqEGBb9L26OJ1J4dliDYgRZaeq8XYrTCvLyzTkDt8bOR0tV+H3tHP2oke
hQIDAQABo4IDnzCCA5swHwYDVR0jBBgwFoAUkK9qOpRaC9iQ6hJWc99DtDoo2ucw
HQYDVR0OBBYEFEkN1V2r89zBlNQ2jGwbwvC/mFmxMA4GA1UdDwEB/wQEAwIFoDAM
BgNVHRMBAf8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjBPBgNV
HSAESDBGMDoGCysGAQQBsjEBAgIHMCswKQYIKwYBBQUHAgEWHWh0dHBzOi8vc2Vj
dXJlLmNvbW9kby5jb20vQ1BTMAgGBmeBDAECATBUBgNVHR8ETTBLMEmgR6BFhkNo
dHRwOi8vY3JsLmNvbW9kb2NhLmNvbS9DT01PRE9SU0FEb21haW5WYWxpZGF0aW9u
U2VjdXJlU2VydmVyQ0EuY3JsMIGFBggrBgEFBQcBAQR5MHcwTwYIKwYBBQUHMAKG
Q2h0dHA6Ly9jcnQuY29tb2RvY2EuY29tL0NPTU9ET1JTQURvbWFpblZhbGlkYXRp
b25TZWN1cmVTZXJ2ZXJDQS5jcnQwJAYIKwYBBQUHMAGGGGh0dHA6Ly9vY3NwLmNv
bW9kb2NhLmNvbTCCAesGA1UdEQSCAeIwggHeghtjY2QuZGVtby5wbGF0Zm9ybS5o
bWN0cy5uZXSCKWFkbWluLWdhdGV3YXkuY2NkLmRlbW8ucGxhdGZvcm0uaG1jdHMu
bmV0giFhZG1pbi5jY2QuZGVtby5wbGF0Zm9ybS5obWN0cy5uZXSCH2FwaS5jY2Qu
ZGVtby5wbGF0Zm9ybS5obWN0cy5uZXSCJGNhbGxiYWNrLmNjZC5kZW1vLnBsYXRm
b3JtLmhtY3RzLm5ldIItY2FzZS1hY3Rpdml0eS1hcGkuY2NkLmRlbW8ucGxhdGZv
cm0uaG1jdHMubmV0giljYXNlLWRhdGEtYXBpLmNjZC5kZW1vLnBsYXRmb3JtLmht
Y3RzLm5ldIIvY2FzZS1kZWZpbml0aW9uLWFwaS5jY2QuZGVtby5wbGF0Zm9ybS5o
bWN0cy5uZXSCI2dhdGV3YXkuY2NkLmRlbW8ucGxhdGZvcm0uaG1jdHMubmV0gity
ZXR1cm4tY2FzZS1kb2MuY2NkLmRlbW8ucGxhdGZvcm0uaG1jdHMubmV0gix1c2Vy
LXByb2ZpbGUtYXBpLmNjZC5kZW1vLnBsYXRmb3JtLmhtY3RzLm5ldIIfd3d3LmNj
ZC5kZW1vLnBsYXRmb3JtLmhtY3RzLm5ldDANBgkqhkiG9w0BAQsFAAOCAQEAiq+5
TNh2ag9WrtTDpvjIOl8VaSS+XMN9tF4KzeVuw7VxmFIKDdH7lqwdH0zXLkntrrh8
gNAz7T8JJ604sNWdFnjxavgO+24pgCwBJJhXDQIZWSsSo+B9ao6gBtIEtcm6+1o+
DThQKGVarJv3JioGnguQDqwPw4CAZkFDxkgHPZXoKKFctx33qFMCFyxptoahGOUb
H5uSgXLeHN/NJtqi7bZvxS1Tt2ZTp29Rctbz/UpM9VZW9Mtj9zV2itITG67XSWFS
eifoGbNZNcnheqdfm0FyNnJUt84k9/ylxmV6pJyl9nnTyhmLCWZ2zZUOptjPRt2E
mUFi6HSjLJy+5XieKQ==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIGCDCCA/CgAwIBAgIQKy5u6tl1NmwUim7bo3yMBzANBgkqhkiG9w0BAQwFADCB
hTELMAkGA1UEBhMCR0IxGzAZBgNVBAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4G
A1UEBxMHU2FsZm9yZDEaMBgGA1UEChMRQ09NT0RPIENBIExpbWl0ZWQxKzApBgNV
BAMTIkNPTU9ETyBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTQwMjEy
MDAwMDAwWhcNMjkwMjExMjM1OTU5WjCBkDELMAkGA1UEBhMCR0IxGzAZBgNVBAgT
EkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UEBxMHU2FsZm9yZDEaMBgGA1UEChMR
Q09NT0RPIENBIExpbWl0ZWQxNjA0BgNVBAMTLUNPTU9ETyBSU0EgRG9tYWluIFZh
bGlkYXRpb24gU2VjdXJlIFNlcnZlciBDQTCCASIwDQYJKoZIhvcNAQEBBQADggEP
ADCCAQoCggEBAI7CAhnhoFmk6zg1jSz9AdDTScBkxwtiBUUWOqigwAwCfx3M28Sh
bXcDow+G+eMGnD4LgYqbSRutA776S9uMIO3Vzl5ljj4Nr0zCsLdFXlIvNN5IJGS0
Qa4Al/e+Z96e0HqnU4A7fK31llVvl0cKfIWLIpeNs4TgllfQcBhglo/uLQeTnaG6
ytHNe+nEKpooIZFNb5JPJaXyejXdJtxGpdCsWTWM/06RQ1A/WZMebFEh7lgUq/51
UHg+TLAchhP6a5i84DuUHoVS3AOTJBhuyydRReZw3iVDpA3hSqXttn7IzW3uLh0n
c13cRTCAquOyQQuvvUSH2rnlG51/ruWFgqUCAwEAAaOCAWUwggFhMB8GA1UdIwQY
MBaAFLuvfgI9+qbxPISOre44mOzZMjLUMB0GA1UdDgQWBBSQr2o6lFoL2JDqElZz
30O0Oija5zAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNV
HSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwGwYDVR0gBBQwEjAGBgRVHSAAMAgG
BmeBDAECATBMBgNVHR8ERTBDMEGgP6A9hjtodHRwOi8vY3JsLmNvbW9kb2NhLmNv
bS9DT01PRE9SU0FDZXJ0aWZpY2F0aW9uQXV0aG9yaXR5LmNybDBxBggrBgEFBQcB
AQRlMGMwOwYIKwYBBQUHMAKGL2h0dHA6Ly9jcnQuY29tb2RvY2EuY29tL0NPTU9E
T1JTQUFkZFRydXN0Q0EuY3J0MCQGCCsGAQUFBzABhhhodHRwOi8vb2NzcC5jb21v
ZG9jYS5jb20wDQYJKoZIhvcNAQEMBQADggIBAE4rdk+SHGI2ibp3wScF9BzWRJ2p
mj6q1WZmAT7qSeaiNbz69t2Vjpk1mA42GHWx3d1Qcnyu3HeIzg/3kCDKo2cuH1Z/
e+FE6kKVxF0NAVBGFfKBiVlsit2M8RKhjTpCipj4SzR7JzsItG8kO3KdY3RYPBps
P0/HEZrIqPW1N+8QRcZs2eBelSaz662jue5/DJpmNXMyYE7l3YphLG5SEXdoltMY
dVEVABt0iN3hxzgEQyjpFv3ZBdRdRydg1vs4O2xyopT4Qhrf7W8GjEXCBgCq5Ojc
2bXhc3js9iPc0d1sjhqPpepUfJa3w/5Vjo1JXvxku88+vZbrac2/4EjxYoIQ5QxG
V/Iz2tDIY+3GH5QFlkoakdH368+PUq4NCNk+qKBR6cGHdNXJ93SrLlP7u3r7l+L4
HyaPs9Kg4DdbKDsx5Q5XLVq4rXmsXiBmGqW5prU5wfWYQ//u+aen/e7KJD2AFsQX
j4rBYKEMrltDR5FL1ZoXX/nUh8HCjLfn4g8wGTeGrODcQgPmlKidrv0PJFGUzpII
0fxQ8ANAe4hZ7Q7drNJ3gjTcBpUC2JD5Leo31Rpg0Gcg19hCC0Wvgmje3WYkN5Ap
lBlGGSW4gNfL1IYoakRwJiNiqZ+Gb7+6kHDSVneFeO/qJakXzlByjAA6quPbYzSf
+AZxAeKCINT+b72x
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIFdDCCBFygAwIBAgIQJ2buVutJ846r13Ci/ITeIjANBgkqhkiG9w0BAQwFADBv
MQswCQYDVQQGEwJTRTEUMBIGA1UEChMLQWRkVHJ1c3QgQUIxJjAkBgNVBAsTHUFk
ZFRydXN0IEV4dGVybmFsIFRUUCBOZXR3b3JrMSIwIAYDVQQDExlBZGRUcnVzdCBF
eHRlcm5hbCBDQSBSb290MB4XDTAwMDUzMDEwNDgzOFoXDTIwMDUzMDEwNDgzOFow
gYUxCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
BgNVBAcTB1NhbGZvcmQxGjAYBgNVBAoTEUNPTU9ETyBDQSBMaW1pdGVkMSswKQYD
VQQDEyJDT01PRE8gUlNBIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MIICIjANBgkq
hkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAkehUktIKVrGsDSTdxc9EZ3SZKzejfSNw
AHG8U9/E+ioSj0t/EFa9n3Byt2F/yUsPF6c947AEYe7/EZfH9IY+Cvo+XPmT5jR6
2RRr55yzhaCCenavcZDX7P0N+pxs+t+wgvQUfvm+xKYvT3+Zf7X8Z0NyvQwA1onr
ayzT7Y+YHBSrfuXjbvzYqOSSJNpDa2K4Vf3qwbxstovzDo2a5JtsaZn4eEgwRdWt
4Q08RWD8MpZRJ7xnw8outmvqRsfHIKCxH2XeSAi6pE6p8oNGN4Tr6MyBSENnTnIq
m1y9TBsoilwie7SrmNnu4FGDwwlGTm0+mfqVF9p8M1dBPI1R7Qu2XK8sYxrfV8g/
vOldxJuvRZnio1oktLqpVj3Pb6r/SVi+8Kj/9Lit6Tf7urj0Czr56ENCHonYhMsT
8dm74YlguIwoVqwUHZwK53Hrzw7dPamWoUi9PPevtQ0iTMARgexWO/bTouJbt7IE
IlKVgJNp6I5MZfGRAy1wdALqi2cVKWlSArvX31BqVUa/oKMoYX9w0MOiqiwhqkfO
KJwGRXa/ghgntNWutMtQ5mv0TIZxMOmm3xaG4Nj/QN370EKIf6MzOi5cHkERgWPO
GHFrK+ymircxXDpqR+DDeVnWIBqv8mqYqnK8V0rSS527EPywTEHl7R09XiidnMy/
s1Hap0flhFMCAwEAAaOB9DCB8TAfBgNVHSMEGDAWgBStvZh6NLQm9/rEJlTvA73g
JMtUGjAdBgNVHQ4EFgQUu69+Aj36pvE8hI6t7jiY7NkyMtQwDgYDVR0PAQH/BAQD
AgGGMA8GA1UdEwEB/wQFMAMBAf8wEQYDVR0gBAowCDAGBgRVHSAAMEQGA1UdHwQ9
MDswOaA3oDWGM2h0dHA6Ly9jcmwudXNlcnRydXN0LmNvbS9BZGRUcnVzdEV4dGVy
bmFsQ0FSb290LmNybDA1BggrBgEFBQcBAQQpMCcwJQYIKwYBBQUHMAGGGWh0dHA6
Ly9vY3NwLnVzZXJ0cnVzdC5jb20wDQYJKoZIhvcNAQEMBQADggEBAGS/g/FfmoXQ
zbihKVcN6Fr30ek+8nYEbvFScLsePP9NDXRqzIGCJdPDoCpdTPW6i6FtxFQJdcfj
Jw5dhHk3QBN39bSsHNA7qxcS1u80GH4r6XnTq1dFDK8o+tDb5VCViLvfhVdpfZLY
Uspzgb8c8+a4bmYRBbMelC1/kZWSWfFMzqORcUx8Rww7Cxn2obFshj5cqsQugsv5
B5a6SE2Q8pTIqXOi6wZ7I53eovNNVZ96YUWYGGjHXkBrI/V5eu+MtWuLt29G9Hvx
PUsE2JOAWVrgQSQdso8VYFhH2+9uRv0V9dlfmrPb2LjkQLPNlzmuhbsdjrzch5vR
pu/xO28QOG8=
-----END CERTIFICATE-----
</public-key>
        <algorithm>RSA</algorithm>
        <private-key>-{{ prod_cert_priv_key }}</private-key>
      </entry>
    </certificate>  
    <ssl-decrypt>
      <ssl-exclude-cert/>
    </ssl-decrypt>
    <ssl-tls-service-profile/>
    <local-user-database>
      <user/>
    </local-user-database>
  </shared>
  <devices>
    <entry name="localhost.localdomain">
      <network>
        <interface>
          <ethernet>
            <entry name="ethernet1/1">
              <layer3>
                <dhcp-client>
                  <enable>yes</enable>
                  <create-default-route>no</create-default-route>
                </dhcp-client>
                <ipv6>
                  <neighbor-discovery>
                    <router-advertisement>
                      <enable>no</enable>
                    </router-advertisement>
                  </neighbor-discovery>
                </ipv6>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <interface-management-profile>health-probes</interface-management-profile>
                <lldp>
                  <enable>no</enable>
                </lldp>
              </layer3>
            </entry>
            <entry name="ethernet1/2">
              <layer3>
                <dhcp-client>
                  <enable>yes</enable>
                  <create-default-route>no</create-default-route>
                </dhcp-client>
                <ipv6>
                  <neighbor-discovery>
                    <router-advertisement>
                      <enable>no</enable>
                    </router-advertisement>
                  </neighbor-discovery>
                </ipv6>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <interface-management-profile>health-probes</interface-management-profile>
              </layer3>
            </entry>
            <entry name="ethernet1/3">
              <layer3>
                <ipv6>
                  <neighbor-discovery>
                    <router-advertisement>
                      <enable>no</enable>
                    </router-advertisement>
                  </neighbor-discovery>
                </ipv6>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <dhcp-client/>
              </layer3>
              <comment>Prod</comment>
            </entry>
            <entry name="ethernet1/4">
              <layer3>
                <ipv6>
                  <neighbor-discovery>
                    <router-advertisement>
                      <enable>no</enable>
                    </router-advertisement>
                  </neighbor-discovery>
                </ipv6>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <dhcp-client/>
              </layer3>
              <comment>Stage</comment>
            </entry>
          </ethernet>
        </interface>
        <profiles>
          <monitor-profile>
            <entry name="default">
              <interval>3</interval>
              <threshold>5</threshold>
              <action>wait-recover</action>
            </entry>
          </monitor-profile>
          <interface-management-profile>
            <entry name="health-probes">
              <permitted-ip>
                <entry name="168.63.129.16"/>
                <entry name="10.0.0.0/8"/>
              </permitted-ip>
              <https>yes</https>
              <ping>yes</ping>
              <http>yes</http>
            </entry>
          </interface-management-profile>
          <zone-protection-profile>
            <entry name="global">
              <flood>
                <tcp-syn>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </tcp-syn>
                <udp>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </udp>
                <icmp>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </icmp>
                <icmpv6>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </icmpv6>
                <other-ip>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </other-ip>
              </flood>
              <discard-tcp-syn-with-data>no</discard-tcp-syn-with-data>
              <discard-tcp-synack-with-data>no</discard-tcp-synack-with-data>
              <description>global</description>
              <tcp-reject-non-syn>no</tcp-reject-non-syn>
            </entry>
          </zone-protection-profile>
        </profiles>
        <ike>
          <crypto-profiles>
            <ike-crypto-profiles>
              <entry name="default">
                <encryption>
                  <member>aes-128-cbc</member>
                  <member>3des</member>
                </encryption>
                <hash>
                  <member>sha1</member>
                </hash>
                <dh-group>
                  <member>group2</member>
                </dh-group>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-128">
                <encryption>
                  <member>aes-128-cbc</member>
                </encryption>
                <hash>
                  <member>sha256</member>
                </hash>
                <dh-group>
                  <member>group19</member>
                </dh-group>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-256">
                <encryption>
                  <member>aes-256-cbc</member>
                </encryption>
                <hash>
                  <member>sha384</member>
                </hash>
                <dh-group>
                  <member>group20</member>
                </dh-group>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
            </ike-crypto-profiles>
            <ipsec-crypto-profiles>
              <entry name="default">
                <esp>
                  <encryption>
                    <member>aes-128-cbc</member>
                    <member>3des</member>
                  </encryption>
                  <authentication>
                    <member>sha1</member>
                  </authentication>
                </esp>
                <dh-group>group2</dh-group>
                <lifetime>
                  <hours>1</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-128">
                <esp>
                  <encryption>
                    <member>aes-128-gcm</member>
                  </encryption>
                  <authentication>
                    <member>none</member>
                  </authentication>
                </esp>
                <dh-group>group19</dh-group>
                <lifetime>
                  <hours>1</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-256">
                <esp>
                  <encryption>
                    <member>aes-256-gcm</member>
                  </encryption>
                  <authentication>
                    <member>none</member>
                  </authentication>
                </esp>
                <dh-group>group20</dh-group>
                <lifetime>
                  <hours>1</hours>
                </lifetime>
              </entry>
            </ipsec-crypto-profiles>
            <global-protect-app-crypto-profiles>
              <entry name="default">
                <encryption>
                  <member>aes-128-cbc</member>
                </encryption>
                <authentication>
                  <member>sha1</member>
                </authentication>
              </entry>
            </global-protect-app-crypto-profiles>
          </crypto-profiles>
        </ike>
        <qos>
          <profile>
            <entry name="default">
              <class>
                <entry name="class1">
                  <priority>real-time</priority>
                </entry>
                <entry name="class2">
                  <priority>high</priority>
                </entry>
                <entry name="class3">
                  <priority>high</priority>
                </entry>
                <entry name="class4">
                  <priority>medium</priority>
                </entry>
                <entry name="class5">
                  <priority>medium</priority>
                </entry>
                <entry name="class6">
                  <priority>low</priority>
                </entry>
                <entry name="class7">
                  <priority>low</priority>
                </entry>
                <entry name="class8">
                  <priority>low</priority>
                </entry>
              </class>
            </entry>
          </profile>
        </qos>
        <virtual-router>
          <entry name="default">
            <protocol>
              <bgp>
                <enable>no</enable>
                <dampening-profile>
                  <entry name="default">
                    <cutoff>1.25</cutoff>
                    <reuse>0.5</reuse>
                    <max-hold-time>900</max-hold-time>
                    <decay-half-life-reachable>300</decay-half-life-reachable>
                    <decay-half-life-unreachable>900</decay-half-life-unreachable>
                    <enable>yes</enable>
                  </entry>
                </dampening-profile>
                <routing-options>
                  <graceful-restart>
                    <enable>yes</enable>
                  </graceful-restart>
                </routing-options>
              </bgp>
              <rip>
                <enable>no</enable>
              </rip>
              <ospf>
                <enable>no</enable>
              </ospf>
              <ospfv3>
                <enable>no</enable>
              </ospfv3>
            </protocol>
            <interface>
              <member>ethernet1/1</member>
              <member>ethernet1/2</member>
            </interface>
            <routing-table>
              <ip>
                <static-route>
                  <entry name="default">
                    <nexthop>
                      <ip-address>{{ gateway }}</ip-address>
                    </nexthop>
                    <bfd>
                      <profile>None</profile>
                    </bfd>
                    <path-monitor>
                      <enable>no</enable>
                      <failure-condition>any</failure-condition>
                      <hold-time>2</hold-time>
                    </path-monitor>
                    <interface>ethernet1/1</interface>
                    <metric>10</metric>
                    <destination>0.0.0.0/0</destination>
                    <route-table>
                      <unicast/>
                    </route-table>
                  </entry>
                  <entry name="trust">
                    <nexthop>
                      <ip-address>{{ gateway_trust }}</ip-address>
                    </nexthop>
                    <bfd>
                      <profile>None</profile>
                    </bfd>
                    <path-monitor>
                      <enable>no</enable>
                      <failure-condition>any</failure-condition>
                      <hold-time>2</hold-time>
                    </path-monitor>
                    <interface>ethernet1/2</interface>
                    <metric>10</metric>
                    <destination>10.0.0.0/8</destination>
                    <route-table>
                      <unicast/>
                    </route-table>
                  </entry>
                </static-route>
              </ip>
            </routing-table>
            <ecmp>
              <algorithm>
                <ip-modulo/>
              </algorithm>
            </ecmp>
          </entry>
          <entry name="aks-prod">
            <ecmp>
              <algorithm>
                <ip-modulo/>
              </algorithm>
            </ecmp>
            <protocol>
              <bgp>
                <routing-options>
                  <graceful-restart>
                    <enable>yes</enable>
                  </graceful-restart>
                </routing-options>
                <enable>no</enable>
              </bgp>
              <rip>
                <enable>no</enable>
              </rip>
              <ospf>
                <enable>no</enable>
              </ospf>
              <ospfv3>
                <enable>no</enable>
              </ospfv3>
            </protocol>
					   
										  
						
            <routing-table>
              <ip>
                <static-route>
                  <entry name="aks-prod">					   
                    <nexthop>
                      <ip-address>{{ gateway }}</ip-address>
                    </nexthop>
                    <bfd>
                      <profile>None</profile>
                    </bfd>
                    <path-monitor>
                      <enable>no</enable>
                      <failure-condition>any</failure-condition>
                      <hold-time>2</hold-time>
                    </path-monitor>
                    <interface>ethernet1/3</interface>
                    <metric>10</metric>
                    <destination>10.0.0.0/8</destination>
                    <route-table>
                      <unicast/>
                    </route-table>
                  </entry>
                </static-route>
              </ip>
            </routing-table>
            <interface>
              <member>ethernet1/3</member>
            </interface>
          </entry>
          <entry name="aks-stage">
            <ecmp>
              <algorithm>
                <ip-modulo/>
              </algorithm>
            </ecmp>
            <protocol>
              <bgp>
                <routing-options>
                  <graceful-restart>
                    <enable>yes</enable>
                  </graceful-restart>
                </routing-options>
                <enable>no</enable>
              </bgp>
              <rip>
                <enable>no</enable>
              </rip>
              <ospf>
                <enable>no</enable>
              </ospf>
              <ospfv3>
                <enable>no</enable>
              </ospfv3>
            </protocol>
            <routing-table>
              <ip>
                <static-route>
                  <entry name="aks-stage">
								  
										 
																
											  
								   
                    <nexthop>
                      <ip-address>{{ gateway }}</ip-address>
                    </nexthop>
                    <bfd>
                      <profile>None</profile>
                    </bfd>
                    <path-monitor>
                      <enable>no</enable>
                      <failure-condition>any</failure-condition>
                      <hold-time>2</hold-time>
                    </path-monitor>
                    <interface>ethernet1/4</interface>
                    <metric>10</metric>
                    <destination>10.0.0.0/8</destination>
                    <route-table>
                      <unicast/>
                    </route-table>
                  </entry>
                </static-route>
              </ip>
            </routing-table>
            <interface>
              <member>ethernet1/4</member>
            </interface>
          </entry>
        </virtual-router>
      </network>
      <deviceconfig>
        <system>
          <hostname>{{ paloname }}</hostname>
          <dns-setting>
            <servers>
              <primary>8.8.8.8</primary>
            </servers>
          </dns-setting>
          <timezone>Europe/London</timezone>
          <login-banner>Secure environment</login-banner>
          <update-server>updates.paloaltonetworks.com</update-server>
          <update-schedule>
            <threats>
              <recurring>
                <every-30-mins>
                  <at>5</at>
                  <action>download-and-install</action>
                </every-30-mins>
              </recurring>
            </threats>
            <wildfire>
              <recurring>
                <every-min>
                  <action>download-and-install</action>
                </every-min>
              </recurring>
            </wildfire>
            <anti-virus>
              <recurring>
                <hourly>
                  <at>20</at>
                  <action>download-and-install</action>
                </hourly>
              </recurring>
            </anti-virus>
            <statistics-service>
              <threat-prevention-reports>no</threat-prevention-reports>
              <threat-prevention-information>yes</threat-prevention-information>
            </statistics-service>
          </update-schedule>
          <type>
            <dhcp-client>
              <send-hostname>yes</send-hostname>
              <send-client-id>no</send-client-id>
              <accept-dhcp-hostname>no</accept-dhcp-hostname>
              <accept-dhcp-domain>no</accept-dhcp-domain>
            </dhcp-client>
          </type>
          <ntp-servers>
            <primary-ntp-server>
              <ntp-server-address>0.pool.ntp.org</ntp-server-address>
            </primary-ntp-server>
            <secondary-ntp-server>
              <ntp-server-address>1.pool.ntp.org</ntp-server-address>
            </secondary-ntp-server>
          </ntp-servers>
          <syslog-certificate>prod-cert</syslog-certificate>
        </system>
        <setting>
          <config>
            <rematch>yes</rematch>
          </config>
          <management>
            <hostname-type-in-syslog>ipv4-address</hostname-type-in-syslog>
            <initcfg>
              <type>
                <dhcp-client>
                  <send-hostname>yes</send-hostname>
                  <send-client-id>no</send-client-id>
                  <accept-dhcp-hostname>no</accept-dhcp-hostname>
                  <accept-dhcp-domain>no</accept-dhcp-domain>
                </dhcp-client>
              </type>
              <hostname>{{ paloname }}</hostname>
              <username>{{ admin_username }}</username>
            </initcfg>
            <quota-settings>
              <disk-quota>
                <alarm>3</alarm>
                <appstat>4</appstat>
                <trsum>7</trsum>
                <thsum>2</thsum>
                <sctpsum>0</sctpsum>
                <hourlysctpsum>0</hourlysctpsum>
                <dailysctpsum>0</dailysctpsum>
                <weeklysctpsum>0</weeklysctpsum>
                <hipmatch>3</hipmatch>
                <dlp-logs>1</dlp-logs>
                <application-pcaps>1</application-pcaps>
                <debug-filter-pcaps>1</debug-filter-pcaps>
                <hip-reports>1</hip-reports>
                <sctp>0</sctp>
                <traffic>30</traffic>
                <threat>16</threat>
                <config>4</config>
                <system>4</system>
              </disk-quota>
            </quota-settings>
          </management>
          <session>
            <tcp-reject-non-syn>no</tcp-reject-non-syn>
          </session>
          <wildfire>
            <public-cloud-server>eu.wildfire.paloaltonetworks.com</public-cloud-server>
          </wildfire>
          <ssl-decrypt>
            <fwd-proxy-server-cert-key-size-ecdsa>0</fwd-proxy-server-cert-key-size-ecdsa>
            <fwd-proxy-server-cert-key-size-rsa>0</fwd-proxy-server-cert-key-size-rsa>
          </ssl-decrypt>
        </setting>
      </deviceconfig>
      <vsys>
        <entry name="vsys1">
          <application/>
          <application-group/>
          <zone>
            <entry name="Untrusted">
              <network>
                <layer3>
                  <member>ethernet1/1</member>
                </layer3>
              </network>
            </entry>
            <entry name="Trusted">
              <network>
                <layer3>
                  <member>ethernet1/2</member>
                  <member>ethernet1/3</member>
                  <member>ethernet1/4</member>
                </layer3>
              </network>
            </entry>
          </zone>
          <service/>
          <service-group/>
          <schedule/>
          <rulebase>
            <nat>
              <rules>
                <entry name="AKS-PROD" uuid="eb621f31-9230-4f92-b3d4-42ba63901256">
                  <source-translation>
                    <dynamic-ip-and-port>
                      <interface-address>
                        <interface>ethernet1/3</interface>
                      </interface-address>
                    </dynamic-ip-and-port>
                  </source-translation>
                  <dynamic-destination-translation>
                    <distribution>round-robin</distribution>
                    <translated-address>AKS-PROD</translated-address>
                  </dynamic-destination-translation>
                  <to>
                    <member>Trusted</member>
                  </to>
                  <from>
                    <member>Trusted</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                  <to-interface>ethernet1/3</to-interface>
                </entry>
                <entry name="AKS-STG" uuid="a111661c-968d-4d3d-958f-13bcaba82102">
                  <source-translation>
                    <dynamic-ip-and-port>
                      <interface-address>
                        <interface>ethernet1/4</interface>
                      </interface-address>
                    </dynamic-ip-and-port>
                  </source-translation>
                  <dynamic-destination-translation>
                    <distribution>round-robin</distribution>
                    <translated-address>AKS-STG</translated-address>
                  </dynamic-destination-translation>
                  <to>
                    <member>Trusted</member>
                  </to>
                  <from>
                    <member>Trusted</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                  <to-interface>ethernet1/4</to-interface>
                </entry>
                <entry name="inbound_nat" uuid="5b7b63b9-f19b-4024-8807-d8478fc78b54">
                  <source-translation>
                    <dynamic-ip-and-port>
                      <interface-address>
                        <interface>ethernet1/2</interface>
                      </interface-address>
                    </dynamic-ip-and-port>
                  </source-translation>
                  <to>
                    <member>Trusted</member>
                  </to>
                  <from>
                    <member>Untrusted</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                </entry>
                <entry name="outbound_nat" uuid="fba38455-d29d-45a5-bbd8-276c6976d15f">
                  <source-translation>
                    <dynamic-ip-and-port>
                      <interface-address>
                        <interface>ethernet1/1</interface>
                      </interface-address>
                    </dynamic-ip-and-port>
                  </source-translation>
                  <to>
                    <member>Untrusted</member>
                  </to>
                  <from>
                    <member>Trusted</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                </entry>
              </rules>
            </nat>
            <security>
              <rules>
                <entry name="health-probes" uuid="1b2426f7-2728-40c5-9bc7-d128addf5f24">
                  <to>
                    <member>any</member>
                  </to>
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>h-168.63.129.16</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <hip-profiles>
                    <member>any</member>
                  </hip-profiles>
                  <action>allow</action>
                  <log-end>no</log-end>
                  <rule-type>universal</rule-type>
                </entry>
                <entry name="trusted" uuid="c6e56c11-a7ec-4f38-8962-3481e40e5c04">
                  <to>
                    <member>Trusted</member>
                  </to>
                  <from>
                    <member>Trusted</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <hip-profiles>
                    <member>any</member>
                  </hip-profiles>
                  <action>allow</action>
                  <log-start>yes</log-start>
                  <log-setting>azure_sentinel</log-setting>
                  <rule-type>universal</rule-type>
                  <profile-setting>
                    <profiles>
                      <file-blocking>
                        <member>FBPolicy</member>
                      </file-blocking>
                      <virus>
                        <member>AVPolicy</member>
                      </virus>
                      <spyware>
                        <member>default</member>
                      </spyware>
                      <vulnerability>
                        <member>VPPolicy</member>
                      </vulnerability>
                    </profiles>
                  </profile-setting>
                </entry>
                <entry name="To-AKS" uuid="0170b483-ea9d-4550-b4fd-07b303a2f3e8">
                  <to>
                    <member>Trusted</member>
                  </to>
                  <from>
                    <member>Untrusted</member>
                  </from>
                  <source>
                    <member>10.11.8.5</member>
                    <member>10.11.8.6</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <hip-profiles>
                    <member>any</member>
                  </hip-profiles>
                  <action>allow</action>
                  <log-start>yes</log-start>
                  <log-setting>azure_sentinel</log-setting>
                  <rule-type>universal</rule-type>
                  <profile-setting>
                    <profiles>
                      <file-blocking>
                        <member>FBPolicy</member>
                      </file-blocking>
                      <virus>
                        <member>AVPolicy</member>
                      </virus>
                      <spyware>
                        <member>default</member>
                      </spyware>
                      <vulnerability>
                        <member>VPPolicy</member>
                      </vulnerability>
                    </profiles>
                  </profile-setting>
                </entry>
                <entry name="internet_out" uuid="d326559a-be13-468f-ad44-8779e6700cb2">
                  <to>
                    <member>Untrusted</member>
                  </to>
                  <from>
                    <member>Trusted</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <hip-profiles>
                    <member>any</member>
                  </hip-profiles>
                  <action>allow</action>
                  <log-start>yes</log-start>
                  <log-setting>azure_sentinel</log-setting>
                  <profile-setting>
                    <profiles>
                      <file-blocking>
                        <member>FBPolicy</member>
                      </file-blocking>
                      <virus>
                        <member>AVPolicy</member>
                      </virus>
                      <spyware>
                        <member>default</member>
                      </spyware>
                      <vulnerability>
                        <member>VPPolicy</member>
                      </vulnerability>
                    </profiles>
                  </profile-setting>
                </entry>
                <entry name="deny_log" uuid="95ca62be-dfc1-409f-8989-d86be8d1bd7c">
                  <to>
                    <member>any</member>
                  </to>
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <hip-profiles>
                    <member>any</member>
                  </hip-profiles>
                  <action>drop</action>
                  <log-end>no</log-end>
                  <log-start>no</log-start>
                </entry>
              </rules>
            </security>
          </rulebase>
          <import>
            <network>
              <interface>
                <member>ethernet1/1</member>
                <member>ethernet1/2</member>
                <member>ethernet1/3</member>
                <member>ethernet1/4</member>
              </interface>
            </network>
          </import>
          <address>
            <entry name="h-168.63.129.16">
              <ip-netmask>168.63.129.16</ip-netmask>
              <description>Azure Load Balancer</description>
            </entry>
            <entry name="prod-aks-00">
              <ip-netmask>10.13.15.250</ip-netmask>
            </entry>
            <entry name="prod-aks-01">
              <ip-netmask>10.13.31.250</ip-netmask>
            </entry>
            <entry name="stg-aks-00">
              <ip-netmask>10.10.19.250</ip-netmask>
            </entry>
            <entry name="stg-aks-01">
              <ip-netmask>10.10.23.250</ip-netmask>
            </entry>
          </address>
          <profiles>
            <virus>
              <entry name="AVPolicy">
                <decoder>
                  <entry name="http">
                    <action>default</action>
                    <wildfire-action>reset-both</wildfire-action>
                  </entry>
                  <entry name="smtp">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="imap">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="pop3">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="ftp">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="smb">
                    <action>default</action>
                    <wildfire-action>reset-both</wildfire-action>
                  </entry>
                </decoder>
              </entry>
            </virus>
            <vulnerability>
              <entry name="VPPolicy">
                <rules>
                  <entry name="simple-client-critical">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>critical</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-high">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>high</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-medium">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>medium</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-informational">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>informational</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-low">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>low</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-critical">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>critical</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-high">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>high</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-medium">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>medium</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-informational">
                    <action>
                      <default/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>informational</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-low">
                    <action>
                      <default/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>low</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                </rules>
              </entry>
            </vulnerability>
            <file-blocking>
              <entry name="FBPolicy">
                <rules>
                  <entry name="Block all risky file types">
                    <application>
                      <member>any</member>
                    </application>
                    <file-type>
                      <member>7z</member>
                      <member>bat</member>
                      <member>cab</member>
                      <member>chm</member>
                      <member>class</member>
                      <member>cpl</member>
                      <member>dll</member>
                      <member>exe</member>
                      <member>flash</member>
                      <member>hlp</member>
                      <member>hta</member>
                      <member>msi</member>
                      <member>Multi-Level-Encoding</member>
                      <member>ocx</member>
                      <member>PE</member>
                      <member>pif</member>
                      <member>rar</member>
                      <member>scr</member>
                      <member>tar</member>
                      <member>torrent</member>
                      <member>vbe</member>
                      <member>wsf</member>
                    </file-type>
                    <direction>both</direction>
                    <action>block</action>
                  </entry>
                  <entry name="Continue prompt encrypted files">
                    <application>
                      <member>any</member>
                    </application>
                    <file-type>
                      <member>encrypted-rar</member>
                      <member>encrypted-zip</member>
                    </file-type>
                    <direction>both</direction>
                    <action>block</action>
                  </entry>
                  <entry name="Log all other file types">
                    <application>
                      <member>any</member>
                    </application>
                    <file-type>
                      <member>any</member>
                    </file-type>
                    <direction>both</direction>
                    <action>alert</action>
                  </entry>
                </rules>
              </entry>
            </file-blocking>
            <url-filtering>
              <entry name="URLFPolicy">
                <credential-enforcement>
                  <mode>
                    <disabled/>
                  </mode>
                  <log-severity>medium</log-severity>
                  <block>
                    <member>abused-drugs</member>
                    <member>adult</member>
                    <member>command-and-control</member>
                    <member>gambling</member>
                    <member>hacking</member>
                    <member>malware</member>
                    <member>phishing</member>
                    <member>questionable</member>
                    <member>weapons</member>
                  </block>
                </credential-enforcement>
                <log-http-hdr-user-agent>no</log-http-hdr-user-agent>
                <block>
                  <member>abused-drugs</member>
                  <member>adult</member>
                  <member>command-and-control</member>
                  <member>gambling</member>
                  <member>hacking</member>
                  <member>malware</member>
                  <member>phishing</member>
                  <member>questionable</member>
                  <member>weapons</member>
                </block>
              </entry>
            </url-filtering>
            <custom-url-category/>
          </profiles>
          <log-settings>
            <profiles>
              <entry name="azure_sentinel">
                <match-list>
                  <entry name="azure_sentinel_traffic">
                    <send-syslog>
                      <member>Azure</member>
                    </send-syslog>
                    <log-type>traffic</log-type>
                    <filter>All Logs</filter>
                    <send-to-panorama>no</send-to-panorama>
                  </entry>
                  <entry name="azure_sentinel_threat">
                    <send-syslog>
                      <member>Azure</member>
                    </send-syslog>
                    <log-type>threat</log-type>
                    <filter>All Logs</filter>
                    <send-to-panorama>no</send-to-panorama>
                  </entry>
                  <entry name="azure_sentinel_data">
                    <send-syslog>
                      <member>Azure</member>
                    </send-syslog>
                    <log-type>data</log-type>
                    <filter>All Logs</filter>
                    <send-to-panorama>no</send-to-panorama>
                  </entry>
                </match-list>
              </entry>
            </profiles>
          </log-settings>
          <address-group>
            <entry name="AKS-PROD">
              <static>
                <member>prod-aks-00</member>
                <member>prod-aks-01</member>
              </static>
            </entry>
            <entry name="AKS-STG">
              <static>
                <member>stg-aks-00</member>
                <member>stg-aks-01</member>
              </static>
            </entry>
          </address-group>
        </entry>
      </vsys>
    </entry>
  </devices>
</config>